In [3]:
import pandas as pd

### convert dataset to pandas dataframe

In [195]:
df = pd.read_csv("adult_data.csv")
df.drop_duplicates(keep=False)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### calculate how many race are represented

In [208]:
percent100 = df['race'].value_counts(normalize=True).mul(100).round(1)
counts = df['race'].value_counts()
percent = df['race'].value_counts(normalize=True)
temp = pd.DataFrame({'counts': counts, 'per': percent, 'per100': percent100})
temp

                    counts       per  per100
White                27816  0.854274    85.4
Black                 3124  0.095943     9.6
Asian-Pac-Islander    1039  0.031909     3.2
Amer-Indian-Eskimo     311  0.009551     1.0
Other                  271  0.008323     0.8

### Average age of men

In [197]:
male = df.loc[(df['sex'] == 'Male'), ['age']]
round(male['age'].mean(), 1)

39.4

### Percentage of people who have a Bachelor's degree:

In [210]:
bachelors = df.loc[(df['education'] == 'Bachelors')]
round(len(bachelors) / len(df) * 100, 1)

16.4

### Percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K

In [202]:
higher_education = df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))]
count_rich = higher_education[higher_education['salary'] == '>50K'].shape[0]
percent_rich = round(count_rich / higher_education.shape[0] * 100, 1)
percent_rich

46.5

### Percentage of people without advanced education make more than 50K

In [203]:
low_education = df[~(df.education.isin(['Bachelors', 'Masters', 'Doctorate']))]
count_poor = low_education[low_education['salary'] == '>50K'].shape[0]
percent_poor = round(count_poor / low_education.shape[0] * 100, 1)
percent_poor

17.4

### Percentage of the people who work the minimum number of hours per week have a salary of >50K

In [204]:
min_work = df.loc[(df['hours-per-week'] == 1)]
count_min_work = min_work[min_work['salary'] == '>50K'].shape[0]
percent_min_work = round(count_min_work / min_work.shape[0] * 100, 1)
percent_min_work

10.0

### What country has the highest percentage of people that earn >50K? What Percent?

In [207]:
countries = []
for country in df['native-country'].unique():
    my_df = df[df['native-country'] == country]
    num_of_ppl = my_df.shape[0]
    num_of_rich_ppl = my_df[my_df['salary'] == '>50K'].shape[0]
    percent = round(num_of_rich_ppl / num_of_ppl * 100, 1)
    countries.append(percent)
best_perc = max(countries)
max_index = countries.index(best_perc)
country = df['native-country'].unique()[max_index]
print(country)
best_perc

Iran

41.9

### The most popular occupation for those who earn >50K in India.

In [211]:
india_rich = df.loc[(df['native-country'] == 'India')  & (df['salary'] == '>50K')]
india_rich_count = india_rich['occupation'].value_counts()
best_occupation_in_india = india_rich_count[india_rich_count==max(india_rich_count)].index[0]